<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devil.blog.mapper.ArticleMapper">
    <select id="getArticle" resultType="Article">
        select * from article where id = #{id}
    </select>

    <select id="getAllArticles" resultType="Article">
        select * from article
    </select>

    <select id="getArticlesByCategoryId" resultType="Article">
        select * from article where cid = #{id}
    </select>

    <select id="getArticlesByTagId" resultType="Article">
        select article.* from bind inner join article on 
        bind.aid=article.id 
        where
        bind.tid = #{id}
    </select>

    <update id="updateArticle" parameterType="Map">
        update article set 
        <foreach collection="map.entrySet()" separator=", " item="val" index="key" open=" " close=" ">
            ${key} = #{val}
        </foreach>
        where id = #{id}
    </update>

    <insert id="insertArticle" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into article 
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            ${key}
        </foreach>
        values
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            #{val}
        </foreach>
    </insert>

    <delete id="deleteArticle">
        delete from article where id = #{id}
    </delete>

    <insert id="bindTags">
        insert into bind(tid, aid) values
        <foreach collection="tids" item="tid" index="index">
            <if test="index!=0">,</if> (#{tid}, #{aid})
        </foreach>
    </insert>

    <delete id="unbindTags">
        delete from bind where aid = #{aid}
    </delete>
</mapper>