<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devil.blog.mapper.CategoryMapper">
    <select id="getCategory" resultType="Category">
        select * from category where id = #{id}
    </select>

    <select id="getCategoryByName" resultType="Category">
        select * from category where name = #{name}
    </select>

    <select id="getDescendantCategories" resultType="Category">
        select * from category where path like '${path}%' order by path asc
    </select>

    <update id="updateCategory" parameterType="Map">
        update category set 
        <foreach collection="map" separator=", " item="val" index="key" open=" " close=" ">
            ${key} = #{val}
        </foreach>
        where id = #{id}
    </update>

    <insert id="insertCategory" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into category 
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            ${key}
        </foreach>
        values
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            #{val}
        </foreach>
    </insert>

    <delete id="deleteCategory">
        delete from category where id = #{id}
    </delete>

    <delete id="deleteCategoryByName">
        delete from category where name = #{name}
    </delete>
</mapper>