<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devil.blog.mapper.ImageMapper">
    <select id="getImage" resultType="Image">
        select * from image where id = #{id}
    </select>

    <select id="getImageByName" resultType="Image">
        select * from image where name = #{name}
    </select>

    <!--
    <select id="getAllImages" resultType="Image">
        select * from image
    </select>

    <delete id="deleteImage">
        delete from image where id = #{id}
    </delete>
    -->

    <delete id="deleteImagesByArticleId">
        delete from image where name like concat(#{id}, '%')
    </delete>

    <insert id="insertImage" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into image 
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            ${key}
        </foreach>
        values
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            #{val}
        </foreach>
    </insert>
</mapper>