<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devil.blog.mapper.TagArticleMapper">
  <select id="getTags" resultType="TagArticle">
    select * from tag_article where aid = #{article_id}
  </select>
</mapper>