<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devil.blog.mapper.TagMapper">
    <select id="getTags" resultType="Map">
        select tag.*, count(*) as value from tag inner join bind on
        tag.id=bind.tid
        group by tag.id
    </select>

    <select id="getTag" resultType="Tag">
        select * from tag where id = #{id}
    </select>

    <update id="updateTag" parameterType="Map">
        update tag set 
        <foreach collection="map" separator=", " item="val" index="key" open=" " close=" ">
            ${key} = #{val}
        </foreach>
        where id = #{id}
    </update>

    <select id="getArticles" resultType="Article">
        select article.* from bind inner join article on 
        bind.aid=article.id 
        where
        bind.tid = #{id}
    </select>

    <delete id="deleteTag">
        delete from tag where id = #{id}
    </delete>

    <insert id="insertTag" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into tag 
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            ${key}
        </foreach>
        values
        <foreach collection="params" separator=", " item="val" index="key" open="(" close=")">
            #{val}
        </foreach>
    </insert>
</mapper>