<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devil.blog.mapper.TagMapper">
  <select id="getTags" resultType="Tag">
    select * from tag
  </select>

  <select id="getTag" resultType="Tag">
    select * from tag where id = #{id}
  </select>

  <select id="getArticles" resultType="Article">
    select article.* from bind inner join article on 
    bind.aid=article.id 
    where
    bind.tid = #{id}
  </select>

  <delete id="deleteTag">
    delete from tag where id = #{id}
  </delete>

  <insert id="insertTag" parameterType="Tag" useGeneratedKeys="true" keyProperty="id">
    insert into tag(id, name, description) values(0, #{name}, #{description})
  </insert>
</mapper>